<fieldset class="dojoComboBox"
	><input style="display:none"  tabindex="-1" name="" value="" 
		dojoAttachPoint="comboBoxValue"
	><input style="display:none"  tabindex="-1" name="" value="" 
		dojoAttachPoint="comboBoxSelectionValue"
	><input style="display:inline" type="text" autocomplete="off"
		dojoAttachEvent="key:_handleKeyEvents; keyUp: onKeyUp; compositionEnd; onfocus:_onFocusInput; onblur:_onBlurInput;"
		dojoAttachPoint="textInputNode"
	><fieldset class="dojoComboBoxArrowGroup"
		><fieldset class="dojoComboBoxButton"
			dojoAttachPoint="downArrowNode"
			dojoAttachEvent="onMouseUp:_arrowClicked; onMouseDown:_arrowPressed; onMouseOut:_arrowIdle;"
			><div class="dojoComboBoxArrow"
				><div class="dojoComboBoxDownArrow"></div
			></div
		></fieldset
	></fieldset
></fieldset>
